
#page{
    width: 576px;
    font-family:"Microsoft JhengHei";
    
}
.my-bg{
    background:url('./img/day@2x.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

.my-button{
    background: #8244BB;
    border-radius:  30px;
    border: 3px solid #8244BB ;
    
}
.my-button:hover{
    border: 3px solid rgb(152, 213, 253) ;
    box-shadow: 0 0 10px  rgb(152, 213, 253);
    
}
.my-button-none{
    background: #C7A4D0;
    border: 3px solid #C7A4D0 ;
    border-radius:  30px;
}
.my-tag{
    border-radius:  10px;
    border: 2px solid rgb(238, 238, 238);
}
.my-tag:hover{
    box-shadow: 0 0 10px  rgb(152, 213, 253);
}


.my-body{
    height: 600px;
    overflow:auto;
}


body{
    
   justify-content: center; 
}